.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-toggle {
  align-self: center;
  padding: 5px 2px;
  margin-top: 4px;
  margin-bottom: 7px;
  width: 30vw;
  background-color: rgb(255, 209, 5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
  background-color: rgb(255, 219, 59);
}

.dropdown-menu {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  transform: translateY(-20px);
  transition: transform 0.3s;
}

.dropdown-menu.open {
  transform: translateY(0);
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}