@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(./assets/fonts/Roboto_Condensed/static/RobotoCondensed-Black.ttf);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

.title {
  border: 2px solid rgb(255, 209, 5);
  padding: 0.5em;
  margin: 0;
}

main {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  font-family: 'Roboto Condensed';
  padding: 0.5em;
  cursor: pointer;
  align-self: center;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.149);
}

ul,
li {
  list-style-type: none;
}